<?xml version="1.0" encoding="UTF-8" ?>
<registry name="MediaBuilder">
	<value name="ExePath" type="TString">
		"/usr/lib/Acronis/MediaBuilder/MediaBuilder"
	</value>
	<key name="Products">
		<value name="TrueImageFullMedia" type="TString">
			"/usr/lib/Acronis/TrueImageServer/media_full.config"
		</value>
		<value name="TrueImageRescueCDMediaForLinux" type="TString">
			"/usr/lib/Acronis/TrueImageServer/media_rescuecd.config"
		</value>
		<value name="TrueImageSafeMedia" type="TString">
			"/usr/lib/Acronis/TrueImageServer/media_safe.config"
		</value>
		<value name="AgentLinuxRamdiskMediaForLinux" type="TString">
			"/usr/lib/Acronis/TrueImage/bootagent.config"
		</value>
	</key>
</registry>
