<?xml version="1.0" encoding="UTF-8" ?>
<registry name="Schedule2">
	<key name="Substitute">
		<value name="TrueImageNotify" type="TString">
			"/usr/lib/Acronis/TrueImage/TrueImageNotify"
		</value>
		<value name="TrueImageService" type="TString">
			"/usr/lib/Acronis/TrueImage/TrueImageService"
		</value>
	</key>
	<key name="Products">
		<key name="2">
			<value name="Logs" type="TString">
				"/var/lib/Acronis/TrueImage/Logs"
			</value>
			<value name="Scripts" type="TString">
				"/var/lib/Acronis/TrueImage/Scripts"
			</value>
		</key>
	</key>
	<value name="LogLevel" type="TString">
		"0"
	</value>
</registry>
