[Desktop Entry]
Comment=
Comment[en_US]=
Exec[$e]=env WINEPREFIX="$${HOME}/.wine" wine "Z:\\opt\\winsoft\\winbox\\winbox.exe"
GenericName=
GenericName[en_US]=
Icon=/opt/winsoft/winbox/winbox.png
MimeType=
Name=Winbox
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Network;
